* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  --yellow-colour: #ecc511;
  --white-colour: #fff;
  --grey-colour: #222;
  --black-colour: #000;
  --red-colour: #7a0202;
  --large-screen-width: 70%;
}
nav {
  width: var(--large-screen-width);
  margin: auto;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
#logo {
  width: auto;
  max-height: 3rem;
  margin: auto 0;
}
.navbar-navigation {
  flex-direction: column;
}
.navbar-contact-info {
  display: flex;
  justify-content: end;
  padding: 1rem;
  white-space: nowrap;
  flex-wrap: wrap;
}
.navbar-contact-info span {
  margin: 0 1rem;
  padding: 0.5rem;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  white-space: nowrap;
}
li {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
}
li a {
  text-decoration: none;
  color: var(--black-colour);
}
.phone-number {
  color: var(--yellow-colour);
}
i {
  color: var(--red-colour);
  padding: 0 0.5rem;
}
.active {
  text-decoration: underline;
  text-decoration-color: var(--yellow-colour);
  text-decoration-thickness: 0.2rem;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.burger-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}
.overlay .closebtn {
  position: absolute;
  right: 2%;
  font-size: 3rem;
}

.hero {
  min-height: 50vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/slider.jpg");
  position: relative;
  display: flex;
  justify-content: center;
}
.hero-text {
  width: var(--large-screen-width);
  color: var(--white-colour);
  position: absolute;
  top: 30%;
  background: transparent;
  font-size: 2rem;
  text-shadow: 0.1rem 0.3rem 0.5rem rgba(49, 49, 50, 0.8);
  white-space: nowrap;
}
.hero div span {
  font-size: 4rem;
}
#cta-btn {
  color: var(--white-colour);
  background-color: rgba(122, 2, 2, 0.6);
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0.4rem 1.5rem;
}

.services {
  min-height: 60vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
}
.services-first-half {
  line-height: 1.5rem;
}
.services-first-half h2 {
  padding: 1.2rem 0;
}
.services-latter-half {
  display: flex;
  line-height: 3rem;
  width: var(--large-screen-width);
  /* flex-wrap: wrap; */
}
.services-details {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2rem 0;
  font-weight: bold;
  margin: auto;
}

.credentials {
  background-image: url("./images/trae.jpg");
  min-height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0;
}
.credentials-text {
  display: flex;
  justify-content: space-around;
  width: var(--large-screen-width);
  margin: auto;
}
.credentials-text p,
h3 {
  padding: 0.8rem 0;
  line-height: 1.4rem;
  margin: auto 1rem;
}
.credentials-logos {
  width: var(--large-screen-width);
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact {
  padding: 3rem 0;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.contact-first-half {
  text-align: center;
  line-height: 1.5rem;
  padding: 0 0 1.5rem 0;
}
.contact-latter-half {
  display: flex;
  justify-content: space-between;
}
form {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.form-element {
  padding: 0.5rem;
  margin: 0.2rem;
}
form button {
  color: var(--white-colour);
  background-color: var(--red-colour);
  padding: 0.5rem;
}
/* for at fjerne op/ned pile fra input type="number"*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.google-maps-container {
  width: 50%;
}
#googleMap {
  width: auto;
  height: 100%;
}
footer {
  min-height: 15vh;
  padding: 2rem 0 1rem 0;
  background-color: var(--grey-colour);
  margin-top: auto;
  color: #fff;
}
address {
  font-style: normal;
  text-align: end;
}
address span {
  font-size: 2rem;
}
.footer-first-half,
.footer-latter-half {
  display: flex;
}
.footer-first-half {
  justify-content: space-between;
  width: var(--large-screen-width);
  align-items: center;
  margin: auto;
}
.footer-logo2 {
  display: flex;
  justify-content: end;
}
.footer-latter-half {
  justify-content: space-between;
  width: var(--large-screen-width);
  margin: auto;
  padding-top: 2rem;
  white-space: nowrap;
}
.footer-contact-info {
  white-space: normal;
  padding: 0.5rem;
}
.sign-off {
  padding: 0.5rem 0 0 0;
  display: flex;
  align-items: flex-end;
}
.burger {
  display: none;
}

@media screen and (max-width: 1242px) {
  header {
    position: relative;
    padding: 0.5rem 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  #logo {
    position: absolute;
    top: 20%;
    left: 15%;
  }
  .nav-links,
  .navbar-contact-info {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
  }
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 2rem;
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
  .hero-text {
    font-size: 1.5rem;
  }
  .hero div span {
    font-size: 3rem;
  }
  .services-details {
    padding: 2rem 1rem;
    white-space: normal;
    min-width: 35%;
  }
  .services-latter-half,
  .credentials-text {
    width: auto;
    flex-wrap: wrap;
  }
  .credentials-logos {
    flex-direction: column;
  }
  .credentials-logos img {
    width: 50%;
  }
  .last-credential-logo {
    padding-top: 2rem;
  }
  .contact {
    width: 75%;
  }
  address {
    font-size: 0.6rem;
  }
  address span {
    font-size: 1rem;
  }
  footer img {
    width: 50%;
    height: 50%;
  }
  .footer-latter-half {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 842px) {
  html {
    font-size: 80%;
  }
  #logo {
    left: 5%;
    top: 25%;
    height: 50%;
  }
  .hero-text {
    left: 5%;
  }
}
